<html lang='ru'>
	<head>
		<meta charset='UTF-8' />
		<style>
			h2, p { font-family: sans-serif; font-style:
			normal; font-weight: 400; padding: 0;margin: 0; box-sizing:
			border-box; } h2 { font-size: 20px; line-height: 24px; color:
			#000000; } p { cursor: pointer; font-size: 16px; line-height: 19px;
			color: #454545; }
		</style>
	</head>
	<body>
		<table>
			<tbody>
				<table>
					<tbody>
						<tr>
							<td>
								<h2>Новая заявка #{{id}}</h2>
							</td>
						</tr>
					</tbody>
				</table>
				<br />
				<table>
					<tbody>
						<tr>
							<td>
								<p>Имя: <samp>{{name}}</samp></p>
							</td>
						</tr>
						<tr>
							<td>
								<p>Связь: <samp>{{contact}}</samp></p>
							</td>
						</tr>
						<tr>
							<td>
								<p>Выбор: <samp>{{product}}</samp></p>
							</td>
						</tr>
					</tbody>
				</table>
				<br />
			</tbody>
		</table>
	</body>

</html>